<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="style.css">
  <title>user_edit</title>
</head>


  <table class="profile-edit">
    <h2 class="form-header-title">登録者情報編集</h2>
  <!-- プロフィール画像 -->
   <tr>
    <th class="profile-edit-content">
      <p class="profile-edit-text">画像変更</p>
          <img class="profile-edit-image" src="img/41ndePEjJqL.png">
            <h3 class="profile-edit-headline">
      <p class="profile-edit-text">ファイルを開く</p>
            </h3>
    </th>
  <!-- プロフィール -->
    <th class="profile">
      <div class="profile-name">
       <a class="profile-last_name">名前(姓)</a>
       <!-- フォームが入る -->
       <a class="profile-first_name">名前(名)</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-name_kana">
       <a class="profile-last_name_kana">名前(姓カナ)</a>
       <!-- フォームが入る -->
       <a class="profile-first_name_kana">名前(名カナ)</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-e-mail">
       <a class="profile-e-mail">email</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-e-mail">
       <a class="profile-e-mail">電話番号</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-e-mail">
       <a class="profile-e-mail">郵便番号</a>
       <!-- フォームが入る -->
      </div>
    </th>
    <th>
      <p class="profile-edit-driver">配送先の追加・編集</p>
      <div class="profile-edit-driver-name">
       <a class="profile-edit-driver-last_name">名前(姓)</a>
       <!-- フォームが入る -->
       <a class="profile-edit-driver-first_name">名前(名)</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-edit-driver-name_kana">
       <a class="profile-edit-driver-last_name_kana">名前(姓カナ)</a>
       <!-- フォームが入る -->
       <a class="profile-edit-driver-first_name_kana">名前(名カナ)</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-edit-driver-e-mail">
       <a class="profile-edit-driver-e-mail">email</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-edit-driver-e-mail">
       <a class="profile-edit-driver-e-mail">電話番号</a>
       <!-- フォームが入る -->
      </div>

      <div class="profile-edit-driver-e-mail">
       <a class="profile-edit-driver-e-mail">郵便番号</a>
       <!-- フォームが入る -->
      </div>
    </th>
   </tr>
         <table class="pagination">
    <th>
        <p><<</p>
        <p><</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>></p>
        <p>>></p>
    </th>
      </table>
  </table>