<!-- ↓<%# if @new_songs.present? %>で@new_songsに値がなくてもエラーが起きない -->
<% if @new_songs.present? %>
<% @new_songs.each do |song| %>
<tr>
  <td>
 <p  class="text-left">　　　　曲順:　　<%= song.song_track %></p>
  </td>
</tr>

<tr>
  <td>
 <p></p>
  </td>
</tr>

<tr>
  <td>
 <p  class="text-left">曲のタイトル:　　<%= song.song_title %></p>
  </td>
</tr>

<tr>
  <td>
 <p></p>
  </td>
</tr>

<tr>
  <td>
 <p></p>
  </td>
</tr>

<tr>
  <td>
 <p></p>
  </td>
</tr>
<!-- 入力し投稿したsong_no、song_titleを表示 -->
<% end %>
<% end %>