<!-- ↓<%# if @new_songs.present? %>で@new_songsに値がなくてもエラーが起きない -->
<% if @new_songs.present? %>
<% @new_songs.each do |song| %>
<tr>
  <td>
 <p  class="text-left">曲順:</p>
  </td>
  <td>
    <%= song.song_track %>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
 <p  class="text-left">曲のタイトル:</p>
  </td>
  <td>
    <%= song.song_title %>
  </td>
  <td>
  </td>
</tr>
<!-- 入力し投稿したsong_no、song_titleを表示 -->
<% end %>
<% end %>