<h1>は？</h1>
<!--
<div class="container">
    <div class="row">
    <h2>曲編集</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
    			<%# @songs.each do |song| %>
    			<%# @songs.each do |song| %>
                        <%#= form_for song, :url => { :controller => :songs, :action => :update } do |f| %>
                        <label>曲順</label><br>
                        <%#= f.number_field :song_track, min:0, max:100 %>
                        <br>
                        <label>曲のタイトル</label><br>
                        <%#= f.text_field :song_title %>
                    </div>
                </div>
            </div>
            <%#= f.submit "変更を保存する", class: "btn btn-default" %>
            <%# end %>
            <%# end %>
            <%# end %>
            <%#= link_to "戻る", admin_product_path(@product.id), class: "btn btn-default" %>
        </div>
    </div>
</div> -->