
<h2>曲名登録</h2>


<span>収録曲数</span>
<%= form_for(@song, url: admin_products_path) do |f| %>
      <p class="text-right">　　　　　　曲数：  </p>>

<%= f.submit '枚数決定', class: "btn" %>
<% end %>

<h3>シングル/アルバム内の曲名</h3>
