
<h2>曲名登録</h2>

<span>収録曲数</span>
<%= form_for(@songs) do |f| %>
<%= f.text_filed : %>
<%= f.submit '枚数決定', class: "btn btn-primary btn-block" %>
<% end %>

<h3>シングル/アルバム内の曲名</h3>
<%# @songs.each do |song| %>
<%# end %>