<div class="container">
	<div class="row">
		<h1>カート一覧</h1>
		<div class="col-md-12">
			
				<div class="row" style="margin-bottom:10px">

					<div class="col-md-1">
						<h1>画像</h1>
				    </div>

					<div class="col-md-5" >
						<table>
							<thead>
								<tr>
									<td>シングル/アルバム名</td>
									<td>
										 cd_title
									</td>
								</tr>
								<tr>
									<td>アーティスト名</td>
									<td>
										artist 
									</td>
								</tr>
							</thead>
						</table>
					</div>

					<div class="col-md-1">
						<p></p>
					</div>

					<div class="col-md-5" >
						<table>
							<thead>
								<tr>
									<td>
										<h3>値段</h3>
									</td>
									<td>
										price
									</td>
								</tr>

								<tr>
									<td>在庫ステータス</td>
									<td>
										status

										value_plan
									</td>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				
		</div>
	</div>
</div>





