<body>
	<div class="container">
		<h1>購入履歴一覧</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4" style="margin-bottom:20px">
						<% addresses.add_first_name %><% addresses.add_last_name %>
						<table>
							<thead>
								<tr></tr>
								<tr>
									<td>購入日</td>
									<td></td>
								</tr>
								<tr>
									<td>購入内容</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>送付先</td>
								</tr>
								<tr>
									<td>ステータス</td>
									<td>編集</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
