<h2>カート一覧</h2>

<% @orders.each do |order| %>

<%= attachment_image_tag %>

<tbody>
    <table class="table">
		<tr>
			<td>シングル/アルバム名</td>
			<td></td>
		</tr>
		<tr>
			<td>アーティスト名</td>
			<td></td>
		</tr>
    </table>
</tbody>

<% end %>

<h4>値段</h4>