* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: 0;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.blog-date {
  display: inline-block;
  font-size: 12px;
}
.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
.pagination {
    width: 100%;
  text-align: center;
  /*padding-top: 50px;変更点レスポンシブ対応 無効*/
}
.pagination p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}
.sidebar {
  width: 100%;/*変更点:レスポンシブ対応230px→100%;*/
  float: none;/*変更点レスポンシブ対応left→none*/
  padding: 50px;/*変更点レスポンシブ対応 追加*/
}
.sidebar-headline, .instagram-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.sidebar-contents {
  padding: 50px 15px;/*変更点:レスポンシブ対応50px→(50px 15px);*/
}
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.instagram-box {
  float: left;
  width: 110px;
  padding-top: 110px;
  margin: 0 0 10px 10px;/*変更点:追加*/
  background-size: cover;
  background-position: center;
}