<div class="container">
    <div class="row">
    	<h1>main</h1>
    	<div class="col-md-12">
    		<div class="row">
    			<div class="col-md-4">
		    		<table>
		    			<thead>
		    				<tr>
		    					<td>アーティスト名</td>
		    					<td>加藤 健</td>
		    				</tr>

		    				<tr>
		    					<td>商品名</td>
		    					<td>Best Albam</td>
		    				</tr>

		    				<tr>
		    					<td>値段</td>
		    					<td>1,000,000 円</td>
		    				</tr>

		    				<tr>
		    					<td>在庫ステータス</td>
		    					<td>準備中</td>
		    				</tr>
		    			</thead>
		    		</table>
		    	</div>

		    	<div class="col-md-4">
		    		<table>
		    			<thead>
		    				<tr>
		    					<td>アーティスト名</td>
		    					<td>加藤 健</td>
		    				</tr>

		    				<tr>
		    					<td>商品名</td>
		    					<td>Best Albam</td>
		    				</tr>

		    				<tr>
		    					<td>値段</td>
		    					<td>1,000,000 円</td>
		    				</tr>

		    				<tr>
		    					<td>在庫ステータス</td>
		    					<td>準備中</td>
		    				</tr>
		    			</thead>
		    		</table>
		    	</div>

		    	<div class="col-md-4">
		    		<table>
		    			<thead>
		    				<tr>
		    					<td>アーティスト名</td>
		    					<td>加藤 健</td>
		    				</tr>

		    				<tr>
		    					<td>商品名</td>
		    					<td>Best Albam</td>
		    				</tr>

		    				<tr>
		    					<td>値段</td>
		    					<td>1,000,000 円</td>
		    				</tr>

		    				<tr>
		    					<td>在庫ステータス</td>
		    					<td>準備中</td>
		    				</tr>
		    			</thead>
		    		</table>
		    	</div>
		    </div>
		</div>

