#container{
  height: 450px;
 }
.span1 {

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: 0;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.product-new {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}
.product-new-content {
  width: 30%;
  height: 300px;
  text-align: center;
}
.product-new-image {
  float: none;
  height: 180px;
}
input#product_image{
    width: 40%;
    margin: 0;
    text-align: center;
}
.product-new-text {
  color: 0;
  text-align: center;
}
.product-new-name {
  margin-top: 30px;
  color: #fff;
}
.form-header-title{
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.product-new {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.new-jacket {
  margin: 0 auto;
  text-align: center;
}
.profile-first_name {
}

.profile-last_name_kana {
}
.profile-first_name_kana {
}

.product-new-driver {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.product-new-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.profile-image {
  float: none;
  height: 180px;
}
.product-new_song {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 200px;
}