* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header, nav, h2, .main-visual, footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
header {
  position: relative;
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline {
  font-size: 32px;
}
.social {
  position: absolute;
  top: 30px;/*変更点:22px→30%;*/
  right: 15px;/*変更点:22px→15%;*/
}
.social i {
  display: inline-block;
  margin-left: 5px;/*変更点:20px→5%;*/
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}
.main-visual-content {
  width: 40%;
  height: 300px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 15%;/*変更点:レスポンシブ対応105px→15%;*/
}
.main-visual-text {
  color: #fff;
}
.main-visual-name {
  margin-top: 30px;
  color: #fff;
}
main {
  width: 100%;/*変更点:レスポンシブ対応800px→100%;*/
  margin: 0 auto;
  padding-top: 70px;/*変更点:レスポンシブ対応(70px 0)→70px;*/
}
.blog {
  width: 100%;/*変更点:レスポンシブ対応540px→100%;*/
  float: none;/*変更点レスポンシブ対応left→none*/
  margin-right: 30px;
}
.blog-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.blog-box {
  padding: 50px;/*変更点レスポンシブ対応padding-top→padding*/
}
.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.blog-image {
  float: none;/*変更点レスポンシブ対応left→none*/
  height: 180px;
}
.blog-text-headline {
  padding-bottom: 15px;
}
.blog-text {
  float: none;/*変更点レスポンシブ対応left→none*/
  padding: 30px 0 0 25px;
}
.blog-date {
  display: inline-block;
  font-size: 12px;
}
.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
.pagination {
    width: 100%;
  text-align: center;
  /*padding-top: 50px;変更点レスポンシブ対応 無効*/
}
.pagination p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}
.sidebar {
  width: 100%;/*変更点:レスポンシブ対応230px→100%;*/
  float: none;/*変更点レスポンシブ対応left→none*/
  padding: 50px;/*変更点レスポンシブ対応 追加*/
}
.sidebar-headline, .instagram-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.sidebar-contents {
  padding: 50px 15px;/*変更点:レスポンシブ対応50px→(50px 15px);*/
}
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.instagram-box {
  float: left;
  width: 110px;
  padding-top: 110px;
  margin: 0 0 10px 10px;/*変更点:追加*/
  background-size: cover;
  background-position: center;
}