<h2>商品詳細</h2>

<%= attachment_image_tag %>


<table class="table">
	<tbody>
		<tr>
			<td>シングル/アルバム名</td>
			<td></td>
		</tr>
		<tr>
			<td>アーティスト名</td>
			<td></td>
		</tr>
		<tr>
			<td>レーベル名</td>
			<td></td>
		</tr>
		<tr>
			<td>在庫数</td>
			<td></td>
		</tr>
		<tr>
			<td>ジャンル</td>
			<td></td>
		</tr>
		<tr>
			<td>値段</td>
			<td></td>
		</tr>
	</tbody>
</table>

<%= form_for %>
<h6>枚</h6>

<%= link_to "カートに追加" %>

<h4>シングル/アルバム内の曲名</h4>

< 在庫ステータスの表示 >
